<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>SecurityKey</param-name>
        <param-value>pimenteltomale67</param-value>
    </context-param>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
        <init-param>
            <param-name>SecretKey</param-name>
            <param-value>pimentel67tomale</param-value>
        </init-param>
        <init-param>
            <param-name>CaptchaSecretKey</param-name>
            <param-value>6Leisq4sAAAAAPisMecfemeYukJeTW6NRKzVm6Z9</param-value>
        </init-param>
        <init-param>
            <param-name>CaptchaLength</param-name>
            <param-value>8</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>LoginDB</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
    </servlet>
    <listener>
        <listener-class> listener.headerFooter </listener-class>
    </listener>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudServlet</servlet-name>
        <servlet-class>controller.CrudServlet</servlet-class>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>LoginDB</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>controller.CaptchaServlet</servlet-class>
        <init-param>
            <param-name>CaptchaSecretKey</param-name>
            <param-value>6Leisq4sAAAAAPisMecfemeYukJeTW6NRKzVm6Z9</param-value>
        </init-param>
        <init-param>
            <param-name>CaptchaLength</param-name>
            <param-value>10</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudServlet</servlet-name>
        <url-pattern>/CrudServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>exception.InvalidSession</exception-type>
        <location>/ErrorPages/error_session.jsp</location>
    </error-page>
    <error-page>
        <exception-type>exception.RightEmailWrongPass</exception-type>
        <location>/ErrorPages/error_2.jsp</location>
    </error-page>
    <error-page>
        <exception-type>exception.AuthenticationException</exception-type>
        <location>/ErrorPages/error_3.jsp</location>
    </error-page>
    <error-page>
        <exception-type>exception.NullValueException</exception-type>
        <location>/ErrorPages/nullValueException.jsp</location>
    </error-page>
    <error-page>
        <exception-type>exception.MissingCredentials</exception-type>
        <location>/ErrorPages/error_1.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPages/error_4.jsp</location>
    </error-page>
    <error-page>
        <exception-type>SQLException</exception-type>
        <location>/ErrorPages/error.jsp</location>
    </error-page>
</web-app>
